@import "mixins";
@import "../content/fonts/Qanelas/Quanelas.css";
@import "./virables";

html, body {
  margin: 0;
  font-family: "Qanelas Regular", "Roboto", sans-serif;
  color: $textColor;
  height: 100%;
}

#root {
  height: 100%;

  .App {
    height: inherit;
  }
}

/* Стили для стандартных элементов */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $textColor;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-size: 28px;
}

h3 {
  margin: 0;
  font-size: 24px;
}

h1, h2, h3 {
  font-family: "Qanelas Bold", "Helvetica Neue", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
}